#note{
    font-size: smaller;
    color: #1F6511
}
body {
    padding-top: 65px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















