#note{
    font-size: smaller;
    color: #1F6511
}
body {
    padding-top: 65px;
}
.poster{
    max-width: 100px;
    max-height: 200px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















