<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node JS Post Request Test</title>
</head>
<body id="body" style="background-color: <%=color%>">
<!--<script>-->
    <!--document.getElementById("body").style.backgroundColor = <%= color %> ;-->
<!--</script>-->
<h1>Hello <%=fname + ' ' + lname%> from Node JS on <%= Date() %></h1>

</body>
</html>