<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node JS</title>
</head>
<body id="body">
<script>
    var colors = ["blue", "red", "white"];
    document.getElementById("body").style.backgroundColor = colors[(int)(Math.random() * 3)];
</script>
<h1>Hello Web World from Node JS on<%= Date() %></h1>

</body>
</html>